html 
    head
        title= event.name 
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") 
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js") 
    body 
        div(class="container")
            h1 Event
            form(action="/event/" + event.id, method="post") 
                input(type="hidden" name="id" value=event.id)
                label(for="name") Event Name
                input(type="text" name="name" value=event.name)
                br
                label(for="link") Link
                input(type="url" name="link" value=event.link)
                br
                b SuperEvent
                select
                    option(value="") 
                    each superEvent in superEvents 
                        if superEvent.id == event.id
                            option(value=superEvent.id selected)= superEvent.name
                        else 
                            option(value=superEvent.id)= superEvent.name
                br
                h4 Assigned People
                each person in people 
                    input(type="checkbox" name="person" + person.person.id checked=person.onEvent)
                    label(for="person" + person.person.id)= person.person.name
                    br
                input(type="submit" value="Add Event")
